# CockroachDB Configuration
COCKROACH_HOST=localhost
COCKROACH_PORT=26257
COCKROACH_USER=root
COCKROACH_PASSWORD=
COCKROACH_DB=transaction

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=transaction-query-service
KAFKA_GROUP_ID=transaction-query-group

# Application Configuration
PORT=3001
