MONGO_URI=mongodb://root:example@localhost:27017
NODE_ENV=development

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=transaction-command
KAFKA_GROUP_ID=transaction-command-consumer